/**
 * FormField Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */


@__formFieldPrefixCls: kuma-uxform-field;

.@{__formFieldPrefixCls} {
  &-tip-icon {
    color: @brand-link;
    line-height: 1;
  }
}